{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Touch Gestures Prototype</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/hammer.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/jquery.hammer.js' %}"></script>
    
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}

		.box-container {
			display: flex;
			flex-wrap: wrap;
		}

		.large-box {
			width: 100%;
			height: 300px;
			background: #0d124a;
			padding: 5px;
			margin: 0 10px 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.small-box {
			width: 100px;
			height: 100px;
			background: #7ce6df;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.action-complete {
			background: #ffffff;
		}
	</style>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Task 4</h3>
				<div class="box-container">
					<div class="large-box">
						<div class="small-box" id="rotate-box">Rotate</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pinch-box">Pinch</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="press-box">Press</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pan-box">Pan</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="tap-box">Tap</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="swipe-box">Swipe</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
     window.addEventListener('load', function() {
      }, false);

    // Rotate
    $('#rotate-box').on('click', function(){
    var angle = ($('#rotate-box').data('angle') + 90) || 90;
    $('#rotate-box').css({'transform': 'rotate(' + angle + 'deg)'});
    $('#rotate-box').data('angle', angle);
    });

    // Pinch
    var scale = 1;
    var pinched = document.getElementById('pinch-box');
    var Pinch = new Hammer(pinched);
    Pinch.get('pinch').set({enable: true});
    Pinch.on("pinchin", function(e) {
    scale -= 0.02;
    $('#pinch-box').css('zoom', scale);
    });
    Pinch.on("pinchout", function(e) {
    scale += 0.02;
    $('#pinch-box').css('zoom', scale);
    });

    // Press
    var pressed = document.getElementById('press-box');
    var Press = Hammer(pressed).on("press", function(event) {
      $('#press-box').hide();
    });

    // Pan
    var panned = document.getElementById('pan-box');
    var Pan = new Hammer(panned);
    Pan.get('pan').set({ direction: Hammer.DIRECTION_ALL });
    Pan.on("panleft panright panup pandown tap press", function(ev) {
    panned.textContent = ev.type;
    });

    // Tap
    var tapped = document.getElementById('tap-box');
    var Tap = Hammer(tapped).on("tap", function(event) {
        alert('Go bears! ʕ　·ᴥ·ʔ');
    });

    // Swipe
    var swiped = document.getElementById('swipe-box');
    var manager = new Hammer.Manager(swiped);
    var Swipe = new Hammer.Swipe();
    manager.add(Swipe);
    var deltaX = 0;
    var deltaY = 0;
    manager.on('swipe', function(e) {
      deltaX = deltaX + e.deltaX;
      var direction = e.offsetDirection;
      var translate3d = 'translate3d(' + deltaX + 'px, 0, 0)';
      if (direction === 4 || direction === 2) {
        e.target.innerText = deltaX;
        e.target.style.transform = translate3d;
      }
    }); 
  </script>
</body>
</html>
